In [102]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [121]:
df = pd.read_csv('bearCapture.csv') # Read CSV

df

,Bear,Sex,Age,Date,General Location,Capture type,Release Site,Handler,Year
0,1050,Male,Adult,04/25/2022,"Greybull River, Pr-WY",Management,Removed (202203),WYGFD,2022
1,1059,Male,Adult,05/04/2022,"South Fork Shoshone, Pr-WY",Management,Transported,WYGFD,2022
2,1060,Male,Adult,05/21/2022,"Beam Gulch, SNF",Research,On site,WYGFD,2022
3,1061,Male,Adult,05/21/2022,"Gravelbar Crk, SNF",Research,On site,WYGFD,2022
4,1061,Male,Adult,05/29/2022,"Gravelbar Crk, SNF",Research,On site,WYGFD,2022
...,...,...,...,...,...,...,...,...,...
2511,83,Female,19,10/16/1987,"Canyon, YNP",Management,"Blacktail, YNP",IGBST/YNP,1987
2512,83,Female,19,10/21/1987,"Canyon, YNP",Management,Kill,IGBST/YNP,1987
2513,141,Male,1,10/16/1987,"Canyon, YNP",Management,"Big Horn Pass Trailhead, YNP",IGBST/YNP,1987
2514,142,Male,6,10/21/1987,"Indian Crk, YNP",NaN,On-site,IGBST,1987
2515,143,Female,8,11/03/1987,"Indian Crk, YNP",NaN,On-site,IGBST,1987

In [122]:
df[df['Date'].str.len() < 10]

,Bear,Sex,Age,Date,General Location,Capture type,Release Site,Handler,Year
1409,434,Male,Adult,0/28/09,"Sunlight Crk, Pr-WY",Management,"Cascade Crk, CTNF",WYGFD,2009

In [123]:
df.at[1409, 'Date'] = '06/28/2009'

df[df['Date'].str.len() < 10]

Empty DataFrame
Columns: [Bear, Sex, Age, Date, General Location, Capture type, Release Site, Handler, Year]
Index: []

In [125]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce', format='%m/%d/%Y')

df.dtypes

Bear                        object
Sex                         object
Age                         object
Date                datetime64[ns]
General Location            object
Capture type                object
Release Site                object
Handler                     object
Year                         int64
dtype: object

In [132]:
df['Day'] = df['Date'].dt.day.astype('Int64')
df['Month'] = df['Date'].dt.month.astype('Int64')
df['Year'] = df['Date'].dt.year.astype('Int64')

df

,Bear,Sex,Age,Date,General Location,Capture type,Release Site,Handler,Year,Day,Month
0,1050,Male,Adult,2022-04-25,"Greybull River, Pr-WY",Management,Removed (202203),WYGFD,2022,25,4
1,1059,Male,Adult,2022-05-04,"South Fork Shoshone, Pr-WY",Management,Transported,WYGFD,2022,4,5
2,1060,Male,Adult,2022-05-21,"Beam Gulch, SNF",Research,On site,WYGFD,2022,21,5
3,1061,Male,Adult,2022-05-21,"Gravelbar Crk, SNF",Research,On site,WYGFD,2022,21,5
4,1061,Male,Adult,2022-05-29,"Gravelbar Crk, SNF",Research,On site,WYGFD,2022,29,5
...,...,...,...,...,...,...,...,...,...,...,...
2511,83,Female,19,1987-10-16,"Canyon, YNP",Management,"Blacktail, YNP",IGBST/YNP,1987,16,10
2512,83,Female,19,1987-10-21,"Canyon, YNP",Management,Kill,IGBST/YNP,1987,21,10
2513,141,Male,1,1987-10-16,"Canyon, YNP",Management,"Big Horn Pass Trailhead, YNP",IGBST/YNP,1987,16,10
2514,142,Male,6,1987-10-21,"Indian Crk, YNP",NaN,On-site,IGBST,1987,21,10
2515,143,Female,8,1987-11-03,"Indian Crk, YNP",NaN,On-site,IGBST,1987,3,11

In [133]:
pd.DataFrame(df['Month'].value_counts())

    Month
8     513
9     466
7     458
6     379
10    326
5     290
4      52
11     25
3       4
12      2