In [8]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [16]:
bearsRadio = pd.read_csv('bearRadio.csv')

In [10]:
bearsRadio.shape

(2272, 9)

In [11]:
bearsRadio.head(5)

,Bear,Sex,Age,Offspring,Out of den,Into den,Current status,Transported,Year
0,314,Male,Adult,NaN,No,No,Vehicle strike-dead,NaN,2022
1,373,Male,Adult,NaN,No,Yes,Active,NaN,2022
2,409,Female,Adult,"3 yearlings, 1 lost",Yes,No,Cast,NaN,2022
3,419,Male,Adult,NaN,No,Yes,Active,NaN,2022
4,424,Male,Adult,NaN,Yes,No,Cast,NaN,2022

In [13]:
bearsRadio.columns

Index(['Bear', 'Sex', 'Age', 'Offspring', 'Out of den', 'Into den',
       'Current status', 'Transported', 'Year'],
      dtype='object')

In [14]:
bearsRadio.dtypes

Bear               int64
Sex               object
Age               object
Offspring         object
Out of den        object
Into den          object
Current status    object
Transported       object
Year               int64
dtype: object